# ROS 2 / colcon
ws_px4_ros/build/
ws_px4_ros/install/
ws_px4_ros/log/

# PX4
PX4-Autopilot/build/
PX4-Autopilot/log/

# Gazebo
*.db
*.log

# QGroundControl / binaries
*.AppImage
QGroundControl*
QGroundControl-x86_64.AppImage

# IDE / OS
.vscode/
.idea/
.DS_Store
