[submodule "px4_ws/PX4-Autopilot"]
	path = px4_ws/PX4-Autopilot
	url = https://github.com/sidk524/DroneSwarmSim
[submodule "px4_ws/Micro-XRCE-DDS-Agent"]
	path = px4_ws/Micro-XRCE-DDS-Agent
	url = git@github.com:eProsima/Micro-XRCE-DDS-Agent.git
