[submodule "Micro-XRCE-DDS-Agent"]
	path = px4_ws/Micro-XRCE-DDS-Agent
	url = git@github.com:eProsima/Micro-XRCE-DDS-Agent.git
[submodule "PX4-Autopilot"]
	path = px4_ws/PX4-Autopilot
	url = git@github.com:PX4/PX4-Autopilot.git
[submodule "px4_msgs"]
	path = ws_px4_ros/src/px4_msgs
	url = git@github.com:PX4/px4_msgs.git
[submodule "ws_px4_ros/src/px4_ros_com"]
	path = ws_px4_ros/src/px4_ros_com
	url = git@github.com:PX4/px4_ros_com.git
[submodule "ws_px4_ros/src/px4-ros2-interface-lib"]
	path = ws_px4_ros/src/px4-ros2-interface-lib
	url = git@github.com:Auterion/px4-ros2-interface-lib.git